################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CBA/obj
/CBA/bin/Debug/netcoreapp3.1
/CBA/.vs/CBA/v16
